extends layout

block content
  h1= title
  
  if errors
    ul
      for error in errors
        li!= error.msg

  form(method='POST' action='')
    div.form-group
      label(for='title') Book Name:
      input#title.form-control(type='text', placeholder='Name of book'
        name='title' required='true' value=(undefined === book ? '' : book.title))

    div.form-group
      label(for='author') Author:
      select#author.form-control(type='select', placeholder='Select Author' name='author' required='true')
        option(value='') Select Author
        for author in authors
          if book
            option(value=author._id selected=(author._id.toString() == book.author ? 'selected' : false)) #{author.name}
          else
            option(value=author._id) #{author.name}
        
    div.form-group
      label(for='summary') Summary:
      input#summary.form-control(type='textarea', placeholder='Book Summary'
        name='summary' required='true' value=(undefined === book ? '' : book.summary))
      
    div.form-group
      label(for='isbn') ISBN:
      input#isbn.form-control(type='text', placeholder='ISBN13'
        name='isbn' required='true' value=(undefined === book ? '' : book.isbn))

    div.form-group
      label Genre:
        div
          for genre in genres
            //- div(style='display-inline; padding-right: 10px;')
            label.checkbox-inline(for=genre._id)
              input(type='checkbox', name='genre', id=genre._id
                , value=genre._id checked=genre.checked)
              | #{genre.name}
            
    
    div.form-group
      button.btn.btn-primary(type='submit') Submit
    